#cloud-config
runcmd:
  - mkdir /vra_automation
  - mount -o nfsvers=3 st1-isiprod01.nfs.corp.pvt:/ifs/st1-isiprod01/nfs/vra_automation /vra_automation
  - /vra_automation/scripts/main2.sh | tee -a /var/log/vra_automation.log
  - echo "HOSTNAME - {{ vm }}" >> /etc/cmdb.txt
  - echo "BUILD DATE - {{ date }}" >> /etc/cmdb.txt
  - echo "ENVIRONMENT - {{ env }}" >> /etc/cmdb.txt
  - echo "BUILT BY - {{ builtby }}" >> /etc/cmdb.txt
  - echo "JIRA TICKET - {{ ticket }}" >> /etc/cmdb.txt
  - echo "APP NAME - {{ appname }}" >> /etc/cmdb.txt
  - echo "APP OWNER - {{ owner }}" >> /etc/cmdb.txt
  - /vra_automation/scripts/send_mail.sh | tee -a /var/log/vra_automation.log
  - umount /vra_automation -f
  - init 6
